* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

body img {
	position: relative;
	top: 10px;
	left: 10px;
	right: 0px;
}

h1 {
	text-align: center;	
	font-size: 30px;
}

header {
	width: 100%;
	height: 50px;
	background: #F0B429;
	color: #fff;

	position: relative;
	top: 10px;
}

.menu {
	padding: 17px;
	width: 98%;
	height: 50px;
	text-align: center;
	margin-bottom: 25px;

	position: relative;
}

.menu a {
	color: #fff;
	width: 100%;
	height: 50px;
	text-decoration: none;
	padding-top: 16px;
	padding-left: 30px;
	padding-right: 30px;
    padding-bottom: 16px;
}

.menu a:hover {
	background: rgba(240, 210, 41, 0.50);
	color: #090909;
}

main section h2 {
	text-align: center;
	padding: 1%;

	position: relative;
	top: 15px;
}

main section img {
	margin:10px auto;
	display: block;
}

main section iframe {
	margin:10px auto;
	display: block;
}

main section p {
	text-align: left;
	padding: 1%;

	position: relative;
	top: 10px;
}

footer div {
	background-color: #000000;
	width: 100%;
	height: 200px;
}